# Ignore virtual environment
venv/
myvenv/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore OS/system files
.DS_Store
Thumbs.db

# Ignore IDE/editor settings
.vscode/
.idea/

# Ignore large data files
*.zip
*.tar.gz
*.h5
